<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Offer first step</title>
        <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    </head>
    <body user_id="{{ user.id }}">
        <section>
            {% include 'navbar.html' %}
            <h1>Informação do Carro para a viagem</h1>
            <form id="car-form" action="/offer/second">
                <input type="hidden" id="user_id" name="user_id" value="{{ user.id }}"/>

                <label for="car">Escolha o Carro:</label>
                <select id="car" name="renavam" required>
                    <option value="" disabled selected>Selecione um carro</option>
                </select><br><br>

                <a class="button3" href="/car">Cadastre seu carro</a>

                <label for="space">Quantidade de Vagas:</label>
                <input type="number" id="space" name="space" min="1" max="4" placeholder="" required><br><br>

                <button class="button3" type="submit" id="confirm">Próximo</button>
            </form>
            <a class="button3" href="javascript:history.back()">Voltar</a>
        </section>

        <script src="{{ url_for('static', path='/script.js') }}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const user_id = document.body.getAttribute('user_id');
                get_cars(user_id);
                save_form('first');
            });

        </script>
    </body>
</html>

