<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <section class="">
        {% include 'navbar.html' %}
        <h1>Cadastro de Caroneiro</h1>
        <form method="POST" action="/drivers">

            <input type="hidden" id="user_id" name="user_id" value="{{ user.id }}"/>

            <input type="text" id="cnh" placeholder="CNH" name="cnh" required><br><br>

            <input type="text" id="preferences" placeholder="Suas preferências" name="preferences"><br><br>

            <button class="button3" type="submit">Enviar</button>
        </form>
        <a class="button3" href="/search-travel">Voltar</a>
    </section>

    <script>
    </script>
</body>
</html>

