<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms procurar viagem</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>
<body>
    {% if error %}
        <script>
            alert("{{ error }}");
        </script>
    {% endif %}

    <section id="pesquisa">
        {% include 'navbar.html' %}
        <h1>PARA ONDE VOCÊ QUER IR?</h1>
        <form action="/travels/search-travels" method="POST">
            <input type="text" id="leaving" name="leaving" placeholder="Digite a cidade de origem" required><br><br>
            <input type="text" id="going" name="going" placeholder="Digite a cidade de destino" required><br><br>
            <input type="date" id="day" name="day" placeholder="Selecione o dia" required><br><br>
            <button class="button2" type="submit">Pesquisar</button>
        </form>

        {% if not user.id %}
            <div class="space-between">
                <a class="button1" href="/sign-in">Entrar na conta</a>
                <a class="button1" href="/sign-up">Cadastre-se</a>
            </div>
        {% else %}
            <a href="/profile">Icone para entrar na conta do usuario</a>
            <a href="/offer">Ofertar uma Carona</a>
            <a href="/logoff">Sair</a>
        {% endif %}
    </section>
</body>
</html>

