<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Viagem</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>
<body>
    <section class="">
        {% include 'navbar.html' %}
        <h1>Cadastro de Viagem</h1>
        <form method="POST" action="/trips">

            <h4>Carro: </h4>
            <label for="car">Escolha o Carro:</label>
            <input type="text" id="car" name="car" placeholder="Ex: 4" required><br><br>
            <a class="button3" href="/car">Cadastre seu carro</a>

            <h4> Data e Hora: </h4>
            <label for="date">Data da Saída:</label>
            <input type="date" id="date" name="date" required><br><br>

            <label for="departure_time">Horário da Saída:</label>
            <input type="time" id="departure_time" name="departure_time" required><br><br>

            <h4>Saída: </h4>
            <label for="cep_pick_up">CEP:</label>
            <input type="text" id="cep_pick_up" name="cep_pick_up" placeholder="Digite o CEP" required><br><br>

            <label for="pick_up">Local de Saída:</label>
            <input type="text" id="pick_up" name="pick_up" placeholder="Ex: Avenida Paulista, São Paulo" required><br><br>

            <label for="number_pick_up">Numero:</label>
            <input type="text" id="number_pick_up" name="number_pick_up" placeholder="Seu numero" required><br><br>

            <h4>Chegada: </h4>
            <label for="cep_pick_off">CEP:</label>
            <input type="text" id="cep_pick_off" name="cep_pick_off" placeholder="Digite o CEP" required><br><br>

            <label for="pick_off">Local de Chegada:</label>
            <input type="text" id="pick_off" name="pick_off" placeholder="Ex: Praça da Liberdade, São Paulo" required><br><br>

            <label for="number_pick_off">Numero:</label>
            <input type="text" id="number_pick_off" name="number_pick_off" placeholder="Seu numero" required><br><br>

            <h4>Informações adicionais: </h4>

            <label for="size">Quantidade de Vagas:</label>
            <input type="number" id="size" name="available_seats" min="1" max="4" placeholder="Ex: 4" required><br><br>

            <label for="observation">Observações</label>
            <input type="text" id="observation" name="observation" placeholder="Observação"><br><br>

            <button class="button3" type="submit">Enviar</button>
        </form>
        <a class="button3" href="/search-travel">Voltar para o início</a>
    </section>

    <script src="/zupit/static/script.js"></script>
    <script>
        document.getElementById('cep_pick_up').addEventListener('blur', function() {
            buscarEndereco(this.value, 'pick_up');
        });

        document.getElementById('cep_pick_off').addEventListener('blur', function() {
            buscarEndereco(this.value, 'pick_off');
        });
    </script>
</body>
</html>

